In [1]:
print("Analysis Challenge Assignment 1")
print("For this assignment, we are told to identify schools that fit into the interest of Alex, who just retired from her six year commitment from army and tries to get a degree in Education")
print("Alex is interesting to attend a college that is safe, in urban, embracing diverse culture with decent educational program")
print("I looked into those criterias and came up with the following criterias")

print("     Safety: cities with all variable in less that 25% quartle")
print("     Urban: LOCALE (11, 12, 13)")
print("     Diversity: not zero for UGDS_BLACK, UGDS_HISP, UGDS_ASIAN, UGDS_AIAN, UGDS_NHPI, UGDS_2MOR, UGDS_NRA, UGDS_UNKN")
print("     Quality: CIP13CERT1, CIP13CERT2, CIP13ASSOC, CIP13CERT4, CIP13BACHL")

Analysis Challenge Assignment 1
For this assignment, we are told to identify schools that fit into the interest of Alex, who just retired from her six year commitment from army and tries to get a degree in Education
Alex is interesting to attend a college that is safe, in urban, embracing diverse culture with decent educational program
I looked into those criterias and came up with the following criterias
     Safety: cities with all variable in less that 25% quartle
     Urban: LOCALE (11, 12, 13)
     Diversity: not zero for UGDS_BLACK, UGDS_HISP, UGDS_ASIAN, UGDS_AIAN, UGDS_NHPI, UGDS_2MOR, UGDS_NRA, UGDS_UNKN
     Quality: CIP13CERT1, CIP13CERT2, CIP13ASSOC, CIP13CERT4, CIP13BACHL

In [2]:
print("Cities Selection Based on Low Crime")
print("To figure out cities with low crime, I first cleaned up the data then got the descriptive statistics.")

import pandas as pd
Crimedata = pd.read_csv("C:\\Users\\tangw\\Desktop\\2021 Fall\\HUDK 4050\\Data\\Crime_2015.csv")
CrimeClean = Crimedata.dropna()
CrimeClean

Cities Selection Based on Low Crime
To figure out cities with low crime, I first cleaned up the data then got the descriptive statistics.

,MSA,ViolentCrime,Murder,Rape,Robbery,AggravatedAssault,PropertyCrime,Burglary,Theft,MotorVehicleTheft,State,City
0,"Abilene, TX M.S.A.",412.5,5.3,56.0,78.4,272.8,"3,609.0",852.0,"2,493.6",263.4,TX,Abilene
1,"Akron, OH M.S.A.",238.4,5.1,38.2,75.2,119.8,"2,552.4",575.3,"1,853.0",124.1,OH,Akron
2,"Albany, GA M.S.A.",667.9,7.8,30.4,157.9,471.8,"3,894.1","1,099.6","2,652.8",141.7,GA,Albany
3,"Albany, OR M.S.A.",114.3,2.5,28.2,20.7,63.0,"3,208.4",484.6,"2,476.1",247.7,OR,Albany
4,"Albuquerque, NM M.S.A.",792.6,6.1,63.8,206.7,516.0,"4,607.8",883.4,"3,047.6",676.9,NM,Albuquerque
...,...,...,...,...,...,...,...,...,...,...,...,...
373,"Guayama, Puerto Rico M.S.A.",251.6,11.4,6.3,74.6,159.3,823.2,265.5,531.1,26.6,"Guayama, Puerto Rico M.S.A.",Guayama
374,"Mayaguez, Puerto Rico M.S.A.",237.5,11.5,5.2,82.3,138.6,"1,320.0",377.1,861.6,81.3,"Mayaguez, Puerto Rico M.S.A.",Mayaguez
375,"Ponce, Puerto Rico M.S.A.",231.4,18.0,5.0,66.2,142.2,885.0,214.4,632.4,38.1,"Ponce, Puerto Rico M.S.A.",Ponce
376,"San German, Puerto Rico M.S.A.",92.1,5.4,4.6,16.1,66.0,420.0,168.9,226.5,24.6,"San German, Puerto Rico M.S.A.",San German
377,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",262.0,20.6,4.9,157.8,78.7,"1,281.2",281.8,835.0,164.3,"San Juan-Carolina-Caguas, Puerto Rico M.S.A.",San Juan

In [3]:
CrimeClean.describe()

,Murder,Rape,Robbery,AggravatedAssault,MotorVehicleTheft
count,366.000000,366.000000,366.000000,366.000000,366.000000
mean,4.634973,41.105738,78.167760,241.493716,190.835246
std,3.404547,19.449643,53.702617,137.650865,133.309482
min,0.000000,2.700000,2.300000,25.500000,15.700000
25%,2.225000,29.000000,37.025000,144.300000,98.500000
50%,3.900000,37.400000,67.900000,215.600000,157.350000
75%,6.400000,50.625000,106.975000,305.800000,247.300000
max,20.600000,165.600000,351.900000,981.300000,718.600000

In [4]:
print("I then chose the range for all variables to be <25% to select cities with low crime rates overall.")

CrimeMask = (CrimeClean['Murder'] < 2.225000) & (CrimeClean['Rape'] <29.000000) & (CrimeClean['Robbery'] <37.025000) & (CrimeClean['AggravatedAssault'] <144.300000) & (CrimeClean['MotorVehicleTheft'] <98.500000)
CrimeClean[CrimeMask]
FewCrime = CrimeClean[CrimeMask]
FewCrime

I then chose the range for all variables to be <25% to select cities with low crime rates overall.

,MSA,ViolentCrime,Murder,Rape,Robbery,AggravatedAssault,PropertyCrime,Burglary,Theft,MotorVehicleTheft,State,City
12,"Appleton, WI M.S.A.",138.8,0.4,24.1,8.6,105.7,"1,394.9",206.6,"1,154.7",33.5,WI,Appleton
20,"Bangor, ME M.S.A.",67.3,2.0,9.1,17.6,38.5,"1,984.5",337.0,"1,604.4",43.1,ME,Bangor
35,"Bloomsburg-Berwick, PA M.S.A",152.7,1.2,22.2,7.0,122.4,"1,325.8",240.2,"1,057.6",28.0,PA,Bloomsburg
45,"Burlington-South Burlington, VT M.S.A.",128.5,0.9,23.0,21.7,82.9,"1,955.4",375.4,"1,564.3",15.7,VT,Burlington
85,"Daphne-Fairhope-Foley, AL M.S.A.",195.3,1.5,21.5,36.7,135.6,"2,064.5",357.4,"1,627.3",79.8,AL,Daphne
101,"Eau Claire, WI M.S.A.",129.1,0.0,21.1,12.1,95.9,"1,669.1",278.7,"1,305.4",85.1,WI,Eau Claire
174,"La Crosse-Onalaska, WI-MN M.S.A.",116.5,1.5,21.1,13.8,80.1,"2,179.9",316.6,"1,808.0",55.3,WI,La Crosse
259,"Montgomery County-Bucks County-Chester County,...",128.2,1.5,13.1,37.0,76.5,"1,447.2",174.9,"1,219.6",52.7,PA,Montgomery
267,"Portland-South Portland, ME M.S.A.",134.6,0.8,24.4,35.6,73.8,"1,833.7",325.8,"1,448.0",60.0,ME,Portland
271,"Provo-Orem, UT M.S.A.",71.7,0.3,25.2,7.9,38.3,"1,551.5",188.1,"1,275.4",88.0,UT,Provo
358,"Wausau, WI M.S.A.",110.9,1.5,18.4,19.1,72.0,"1,208.5",187.3,985.1,36.0,WI,Wausau

In [5]:
print("As the result shown, 11 cities are selected for low crime rates, Which are:")
print("Appleton, Bangor, Bloomsburg, Daphne, Eau Claire, La Crosse, Montgomery, Portland, Provo, Wausau")

As the result shown, 11 cities are selected for low crime rates, Which are:
Appleton, Bangor, Bloomsburg, Daphne, Eau Claire, La Crosse, Montgomery, Portland, Provo, Wausau

In [6]:
print("To qualify the second variables that Alex requires, URBAN, I went back the Excel document and combined the filter for both the crime rates and urban")
print("I first filtered the cities from the result above")
print("Then I limited the variable LOCALE to 11, 12, and 13, to select schools located in cities")
print("The result filtered by both crime and urban is then saved below")
import pandas as pd
CityFewCrime = pd.read_csv("C:\\Users\\tangw\\Desktop\\2021 Fall\\HUDK 4050\\Data\\CityFewCrime.csv")
CityFewCrime

To qualify the second variables that Alex requires, URBAN, I went back the Excel document and combined the filter for both the crime rates and urban
I first filtered the cities from the result above
Then I limited the variable LOCALE to 11, 12, and 13, to select schools located in cities
The result filtered by both crime and urban is then saved below

,UNITID,INSTNM,City,CIP13CERT1,CIP13CERT2,CIP13ASSOC,CIP13CERT4,CIP13BACHL,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
0,100690,Amridge University,Montgomery,0,0,0,0,0,0.4224,0.0093,0.0031,0.0031,0.0031,0.0000,0.0000,0.2671
1,100724,Alabama State University,Montgomery,0,0,0,0,2,0.9285,0.0114,0.0015,0.0009,0.0007,0.0064,0.0207,0.0138
2,100830,Auburn University at Montgomery,Montgomery,1,0,0,0,2,0.3031,0.0079,0.0245,0.0037,0.0000,0.0000,0.0435,0.0641
3,101116,South University-Montgomery,Montgomery,0,0,0,0,0,0.6628,0.0117,0.0033,0.0083,0.0033,0.0000,0.0000,0.0117
4,101189,Faulkner University,Montgomery,0,0,1,0,2,0.5254,0.0178,0.0047,0.0064,0.0034,0.0119,0.0191,0.0195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,469188,Sanford-Brown College-Portland,Portland,0,0,0,0,0,0.0000,0.0200,0.0000,0.0000,0.0000,0.0200,0.0000,0.7200
78,475130,Fortis College-Montgomery,Montgomery,0,0,0,0,0,0.6510,0.0052,0.0000,0.0000,0.0000,0.0052,0.0000,0.1094
79,475495,Rocky Mountain University of Health Professions,Provo,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,480198,Warner Pacific College Adult Degree Program,Portland,0,0,1,0,1,0.1063,0.0596,0.0245,0.0070,0.0152,0.0175,0.0000,0.2138
81,482592,DeVry University-Oregon,Portland,0,0,0,0,0,0.0227,0.0568,0.0114,0.0227,0.0000,0.0114,0.0114,0.1591

In [7]:
print("To furthur narrow down the school search, I look into the diversity and quality for schools that Alex requested")
print("Start with quality, Alex looks for attending a college with decent edcuation degree")
print("Thus, I looked into the schools that have good record in education")
print("The variables selected are the 5 variables under CIP13. I choose to filter the schools with their availabilities in Associate and Bachlor degrees in education")

To furthur narrow down the school search, I look into the diversity and quality for schools that Alex requested
Start with quality, Alex looks for attending a college with decent edcuation degree
Thus, I looked into the schools that have good record in education
The variables selected are the 5 variables under CIP13. I choose to filter the schools with their availabilities in Associate and Bachlor degrees in education

In [8]:
print("And to make sure the school is diverse, I chose the UGD categories to make sure each school have a range of student groups")

And to make sure the school is diverse, I chose the UGD categories to make sure each school have a range of student groups

In [9]:
CFCNA = CityFewCrime.dropna() 
CFCNA

,UNITID,INSTNM,City,CIP13CERT1,CIP13CERT2,CIP13ASSOC,CIP13CERT4,CIP13BACHL,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
0,100690,Amridge University,Montgomery,0,0,0,0,0,0.4224,0.0093,0.0031,0.0031,0.0031,0.0000,0.0000,0.2671
1,100724,Alabama State University,Montgomery,0,0,0,0,2,0.9285,0.0114,0.0015,0.0009,0.0007,0.0064,0.0207,0.0138
2,100830,Auburn University at Montgomery,Montgomery,1,0,0,0,2,0.3031,0.0079,0.0245,0.0037,0.0000,0.0000,0.0435,0.0641
3,101116,South University-Montgomery,Montgomery,0,0,0,0,0,0.6628,0.0117,0.0033,0.0083,0.0033,0.0000,0.0000,0.0117
4,101189,Faulkner University,Montgomery,0,0,1,0,2,0.5254,0.0178,0.0047,0.0064,0.0034,0.0119,0.0191,0.0195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,462026,Hair Academy,Montgomery,0,0,0,0,0,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
77,469188,Sanford-Brown College-Portland,Portland,0,0,0,0,0,0.0000,0.0200,0.0000,0.0000,0.0000,0.0200,0.0000,0.7200
78,475130,Fortis College-Montgomery,Montgomery,0,0,0,0,0,0.6510,0.0052,0.0000,0.0000,0.0000,0.0052,0.0000,0.1094
80,480198,Warner Pacific College Adult Degree Program,Portland,0,0,1,0,1,0.1063,0.0596,0.0245,0.0070,0.0152,0.0175,0.0000,0.2138
81,482592,DeVry University-Oregon,Portland,0,0,0,0,0,0.0227,0.0568,0.0114,0.0227,0.0000,0.0114,0.0114,0.1591

In [10]:
print("To select school that has the highest quality in education, I filtered each school to have at least 1 degree in Associate(CIP13ASSOC) degree and Bachlor(CIP13BACHL)")

To select school that has the highest quality in education, I filtered each school to have at least 1 degree in Associate(CIP13ASSOC) degree and Bachlor(CIP13BACHL)

In [11]:
CFCClean = CFCNA.loc[~((CFCNA['CIP13ASSOC'] == 0)|(CFCNA['CIP13BACHL'] == 0))]
CFCClean

,UNITID,INSTNM,City,CIP13CERT1,CIP13CERT2,CIP13ASSOC,CIP13CERT4,CIP13BACHL,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
4,101189,Faulkner University,Montgomery,0,0,1,0,2,0.5254,0.0178,0.0047,0.0064,0.0034,0.0119,0.0191,0.0195
11,161165,Husson University,Bangor,0,1,1,0,2,0.0362,0.0135,0.0052,0.0070,0.0013,0.0135,0.0389,0.0035
19,208488,Concordia University-Portland,Portland,0,0,1,0,2,0.0588,0.0689,0.0653,0.0203,0.0058,0.0065,0.0225,0.2083
34,210304,Warner Pacific College,Portland,0,0,1,0,1,0.0898,0.1118,0.0439,0.0040,0.0160,0.0798,0.0000,0.0599
48,240107,Viterbo University,La Crosse,0,0,2,0,2,0.0185,0.0210,0.0180,0.0024,0.0000,0.0205,0.0058,0.0049
51,240268,University of Wisconsin-Eau Claire,Eau Claire,0,0,1,0,2,0.0064,0.0186,0.0330,0.0040,0.0004,0.0166,0.0202,0.0024
52,240329,University of Wisconsin-La Crosse,La Crosse,0,0,1,0,1,0.0073,0.0271,0.0252,0.0030,0.0007,0.0211,0.0200,0.0015
80,480198,Warner Pacific College Adult Degree Program,Portland,0,0,1,0,1,0.1063,0.0596,0.0245,0.0070,0.0152,0.0175,0.0000,0.2138

In [12]:
pd.merge(CFCClean, FewCrime, on='City')

,UNITID,INSTNM,City,CIP13CERT1,CIP13CERT2,CIP13ASSOC,CIP13CERT4,CIP13BACHL,UGDS_BLACK,UGDS_HISP,...,ViolentCrime,Murder,Rape,Robbery,AggravatedAssault,PropertyCrime,Burglary,Theft,MotorVehicleTheft,State
0,101189,Faulkner University,Montgomery,0,0,1,0,2,0.5254,0.0178,...,128.2,1.5,13.1,37.0,76.5,"1,447.2",174.9,"1,219.6",52.7,PA
1,161165,Husson University,Bangor,0,1,1,0,2,0.0362,0.0135,...,67.3,2.0,9.1,17.6,38.5,"1,984.5",337.0,"1,604.4",43.1,ME
2,208488,Concordia University-Portland,Portland,0,0,1,0,2,0.0588,0.0689,...,134.6,0.8,24.4,35.6,73.8,"1,833.7",325.8,"1,448.0",60.0,ME
3,210304,Warner Pacific College,Portland,0,0,1,0,1,0.0898,0.1118,...,134.6,0.8,24.4,35.6,73.8,"1,833.7",325.8,"1,448.0",60.0,ME
4,480198,Warner Pacific College Adult Degree Program,Portland,0,0,1,0,1,0.1063,0.0596,...,134.6,0.8,24.4,35.6,73.8,"1,833.7",325.8,"1,448.0",60.0,ME
5,240107,Viterbo University,La Crosse,0,0,2,0,2,0.0185,0.0210,...,116.5,1.5,21.1,13.8,80.1,"2,179.9",316.6,"1,808.0",55.3,WI
6,240329,University of Wisconsin-La Crosse,La Crosse,0,0,1,0,1,0.0073,0.0271,...,116.5,1.5,21.1,13.8,80.1,"2,179.9",316.6,"1,808.0",55.3,WI
7,240268,University of Wisconsin-Eau Claire,Eau Claire,0,0,1,0,2,0.0064,0.0186,...,129.1,0.0,21.1,12.1,95.9,"1,669.1",278.7,"1,305.4",85.1,WI

In [13]:
print("And the Above list is my final suggestion for Alex.")

And the Above list is my final suggestion for Alex.